.header{
    display:flex;
    justify-content: space-between;
    border: 1px solid;
    height: 80px;

}
.logo {
    margin: 10px;
    width: 80px;
}
.nav-items{
    padding: 0% 20px;
}
.nav-items > ul {
    font-size: 24px;
    display:flex;
    list-style: none;
}
.nav-items > ul > li {
    padding: 3px;
    margin: 3px;
}

.restaurant-card{
    margin: 5px;
    padding: 5px;
    width: 250px;
    background-color: antiquewhite;
}

.restaurant-container{
    display: flex;
    flex-wrap: wrap;
}
.restaurant-card:hover{
    cursor: pointer;
    border: 1px solid black;
}

.search{
    padding: 10px;
    font-size: 30px;
}
.search-btn{
    padding: 10px;
    margin: 8px;
    

}
.restaurant-logo{
    width: 100%;
}
.search-bar{
    width: 300px;
    padding: 10px;
    size: 40px;
}
.filter-top-list-btn{
    width: 250px;
    padding: 10px;
    size: 40px;
}
.filter-reset-btn{
    margin: 10px;
    width: 120px;
    padding: 10px;
    size: 40px;

}
.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}
.shimmer-cards{
    margin: 20px;
    width: 250px;
    height: 500px;
    background-color: antiquewhite;
}
.login{
    cursor: pointer;
}
